@CHARSET "UTF-8";

h2, input, button, label {font-family: sans-serif !important}

.hidden_el, .visible_el {
  color: green;
  opacity: .7;
  text-align: center;
}
.hidden_el {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s ease;
}
.visible_el {
  visibility: visible;
}

#th-logout, #login-img {
    margin: 12px 0px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}

.nav > li > a:focus {
  background-color: #4CAF50 !important;
}

.navbar {min-height:30px !important; background-color: #659ad2 !important; }

li.active { background-color: #4CAF50 !important; }
li.active a:hover { background-color: #4CAF50 !important; }

li.active a { outline: none !important; }

li.inactive a:hover { background-color: gray !important }

a { color: white !important; }


/* Material Icons fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Material Icons fallback */

